*,
::before
::after{
    box-sizing: border-box;    
}

header{

    display: flex;
    justify-content: space-around;
    box-shadow: 2px 4px 3px 1px grey;
    padding: 1rem;
}

.location_pick{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.hero_title{
    display: flex;
    justify-content: center;
}

.hero_description{
    display: flex;
    justify-content: center;
}

.hero_btn_btn{
    align-items: center;
    background-color: hotpink;
    justify-content: center;
}

.fonctionnement_steps{
    flex-direction: row;
    align-items: center;
}
