*{
    box-sizing: border;
}

/*----------------------------------------------- HEADER / ENTETE - PAR DEFAUT - PC DESKTOP FIRST ----------------------------------------------------*/

.parent_logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}